<p id='notice'><%= notice %></p>
<div class="p-2">
  <div class="row no-gutters flex-wrap">
    <% @articles.each do |article| %>
      <div class="card card-image col-6 bg-img"
      <% if article.image.attached? %>
  style="background-image: url(<%= (url_for(article.image))%>);">
      <% end %>
      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center justify-content-center h-100  rgba-black-strong py-5 px-4">
        <div>
          <% article.categories.each do |category| %>
            <span><%= link_to category.name, categories_path(category), class: "pink-text" %></span>
          <% end %>
          <h3 class="card-title pt-2"><strong><%= article.title %></strong></h3>
          <p><%= article.description %></p>
          <%= link_to "View article", article, class: "btn btn-pink"%>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
