<%= notice_bar %>
<div class="p-2">
  <div class="row no-gutters">
    <!-- Carousel wrapper -->
    <div id="carouselBasicExample" class="carousel slide carousel-fade col-9" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carouselBasicExample" data-slide-to="0" class="active"></li>
        <li data-target="#carouselBasicExample" data-slide-to="1"></li>
        <li data-target="#carouselBasicExample" data-slide-to="2"></li>
      </ol>
      <!-- Inner -->
      <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
          <img
                  src="<%= (url_for(@item.image))%>"
                  class="d-block w-100 carousel-img"
                  alt="..."
                />
            <div class="carousel-caption text-left ">
              <h5 class="deep-orange-text font-weight-bold"><%= @item.title %></h5>
              <p><%= @item.description %></p>
            </div>
          </div>
          <% @articles.each do |article| %>
            <!-- Single item -->
            <div class="carousel-item">
              <img
                  src="<%= (url_for(article.image))%>"
                  class="d-block w-100 carousel-img"
                  alt="..."
                />
                <div class="carousel-caption text-left">
                  <h5 class="deep-orange-text font-weight-bold"><%= article.title %></h5>
                  <p><%= article.description %></p>
                </div>
              </div>
            <% end %>
          </div>
          <!-- Inner -->
          <!-- Controls -->
          <a class="carousel-control-prev deep-orange-text font-weight-bold" href="#carouselBasicExample" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon " aria-hidden="true"></span>
            <span>Previous</span>
          </a>
          <a class="carousel-control-next deep-orange-text font-weight-bold" href="#carouselBasicExample" role="button"
           data-slide="next">
            <span class="carousel-control-next-icon " aria-hidden="true"></span>
            <span>Next</span>
          </a>
        </div>
        <!-- Carousel wrapper -->
        <div class="card card-image col-3"
  style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
          <!-- Content -->
          <!-- Card content -->
          <div class="card-body deep-orange-text text-center h-100  rgba-black-strong py-5 px-4">
            <!-- Title -->
            <h4 class="card-title font-weight-bold">Tunisia</h4>
            <!-- Text -->
            <p class="text-white"><%= @time.strftime("%d %B, %Y") %></p>
            <div class="d-flex justify-content-between">
              <p class="display-1 degree">23°</p>
              <i class="fas fa-sun-o fa-5x pt-3 deep-orange-text"></i>
            </div>
            <div class="d-flex justify-content-between mb-4">
              <p><i class="fas fa-tint fa-lg text-info pr-2"></i>3% Precipitation</p>
              <p><i class="fas fa-leaf fa-lg grey-text pr-2"></i>21 km/h Winds</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters flex-wrap">
        <% @categories.each do |category| %>
          <div class="card card-image col-3 bg-img"
      <% if category.articles.first.image.attached? %>
  style="background-image: url(<%= (url_for(category.articles.first.image))%>);">
          <% end %>
          <!-- Content -->
          <div class="text-white text-center d-flex align-items-center justify-content-center h-100  rgba-black-strong py-5 px-4">
            <div>
              <h3 class="deep-orange-text font-weight-bold"> <%= category.name.capitalize %></h3>
              <h5 class="card-title pt-2"><strong><%= category.articles.first.title %></strong></h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
