<div class="container mt-5">
  <h2 class="text-white text-center btn-amber p-2 ">Articles related to "<%= @category.name.capitalize %>"</h2>
  <% @category.articles.ordered_by_most_recent.each do |article| %>
    <div class="card card-image mb-4 ">
      <div class="d-flex flex-column h-100">
        <!-- Content -->
        <div class="text-dark text-left d-flex flex-column p-3">
          <h4 class="card-title brown-text pt-2"><strong><%= article.title %></strong></h4>
          <p><%= article.description %></p>
          <div class="mt-auto d-flex justify-content-between ">
            <%= number_of_votes(article) %>
            <%= vote_or_devote_btn(article) %>
          </div>
        </div>
        <% if article.image.attached? %>
          <%= image_tag(article.image, alt: "article image", class: "w-100") %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
